@charset "UTF-8";
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
@media screen and (576px <= width <= 1024px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media screen and (width < 576px) {
  .container {
    padding: 0 15px;
  }
}

/*Контент GENERALE (начало кода) */
.main {
  display: flex;
  flex-direction: column;
}

.main__title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-decoration: none;
  color: #000000;
  padding-top: 90px;
}
@media screen and (576px <= width <= 1024px) {
  .main__title {
    text-align: center;
    padding-top: 35px;
  }
}
@media screen and (width < 576px) {
  .main__title {
    text-align: center;
    padding-top: 35px;
    font-size: 28px;
  }
}

.main__text {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}
@media screen and (576px <= width <= 1024px) {
  .main__text {
    text-align: center;
  }
}
@media screen and (width < 576px) {
  .main__text {
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (width > 1024px) {
  .yandex-map {
    border-radius: 30px;
  }
}

@media screen and (width > 1024px) {
  .main__map {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (width <= 1024px) {
  .main__map {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

@media screen and (width > 1024px) {
  .main__contacts {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (576px <= width <= 1024px) {
  .main__contacts {
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
@media screen and (width < 576px) {
  .main__contacts {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.our_contacts {
  display: flex;
  flex-direction: column;
}
@media screen and (width > 1024px) {
  .our_contacts {
    width: 35%;
  }
}

.address,
.phone,
.email {
  display: flex;
}
@media screen and (width <= 1024px) {
  .address,
  .phone,
  .email {
    flex-direction: column;
  }
}

.address-logo,
.phone-logo,
.email-logo {
  display: flex;
  align-items: center;
}
@media screen and (width > 1024px) {
  .address-logo,
  .phone-logo,
  .email-logo {
    margin-right: 22px;
  }
}
@media screen and (width <= 1024px) {
  .address-logo,
  .phone-logo,
  .email-logo {
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (width <= 1024px) {
  .address-logo-img {
    align-items: center;
  }
}

.address-text-p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (width <= 1024px) {
  .address-text-p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.phone {
  margin-top: 40px;
  margin-bottom: 40px;
}

.phone-nomber {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (width <= 1024px) {
  .phone-nomber {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.email-address {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  display: flex;
  text-align: left;
  align-items: center;
}
@media screen and (width <= 1024px) {
  .email-address {
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.top-link {
  color: black;
  text-decoration: none;
}

.feedback {
  display: flex;
  flex-direction: column;
}
@media screen and (width > 1024px) {
  .feedback {
    width: 45%;
  }
}
@media screen and (width <= 1024px) {
  .feedback {
    margin-top: 45px;
  }
}

.fdb-contacts {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (width <= 1024px) {
  .fdb-contacts {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.input-contacts {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  border: 2px solid rgb(92, 183, 114);
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
}
.input-contacts::-moz-placeholder {
  color: rgb(118, 185, 135);
  opacity: 1;
}
.input-contacts::placeholder {
  color: rgb(118, 185, 135);
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

@media screen and (width <= 1024px) {
  .contacts-button {
    display: block;
    margin: 0 auto;
  }
}

.contacts-btn {
  background-color: #5CB772;
  border: none;
  border-radius: 30px;
  padding: 15px 28px;
  float: right;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.contacts-btn:hover {
  background-color: rgb(143, 205, 128);
}

/*Контент GENERALE (конец кода)*/
/*Footer GENERALE (начало кода)*/
.wrapper {
  background-color: rgba(136, 190, 204, 0.25);
  margin-top: 90px;
}

@media screen and (width >= 1024px) {
  .wrapper-mbl {
    display: none;
  }
}

.footer,
.footer__top,
.footer__logo,
.footer__content,
.footer-nav,
.footer__call,
.footer-icon-call,
.footer__bottom {
  display: flex;
}

.footer {
  flex-direction: column;
  height: 368px;
  justify-content: space-between;
}

.footer__top {
  margin-top: 4%;
  margin-bottom: 2%;
  height: 75%;
  justify-content: space-between;
}

.footer__logo {
  width: 17%;
}

.logo__link {
  max-width: 100%;
}

.logo-footer {
  width: 100%;
}

.footer__content {
  width: 79%;
  justify-content: space-between;
}

.footer__call {
  flex-direction: column;
  justify-content: space-between;
}

.footer-nav {
  flex-direction: column;
  justify-content: space-between;
}

.footer-nav__top-link {
  font-family: Montserrat;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.footer-icon-call {
  justify-content: right;
}

.call-phone__top-link {
  color: black;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.back-call-p {
  color: #00abec;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  margin: 0;
}

.footer__bottom {
  height: 20%;
  justify-content: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Footer GENERALE (конец кода)*/
/*Footer MOBILE (начало кода)*/
.wrapper-mbl {
  background-color: rgba(136, 190, 204, 0.25);
  margin-top: 90px;
}

@media screen and (width < 1024px) {
  .wrapper {
    display: none;
  }
}

@media screen and (576px <= width <= 1024px) {
  .container-mbl {
    min-width: 576px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media screen and (width < 576px) {
  .container-mbl {
    min-width: 280px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.footer-mbl,
.footer-logotype-mbl,
.footer-bottom-mbl,
.ftr-nav__top-item-mbl,
.footer__call-phone-mbl,
.back-call-mbl {
  display: flex;
  justify-content: center;
}

.footer-mbl {
  padding-top: 30px;
  padding-bottom: 50px;
  flex-direction: column;
  height: 558px;
  justify-content: space-between;
}

.footer-bottom-mbl {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.ftr-btm-mdl {
  margin: 0;
}

.footer-nav-mbl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  align-items: center;
}

.ftr-nav__top-link-mbl {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  text-decoration: none;
}

.ftr__call-phone-mbl {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
}

.back-call-mbl-p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #00abec;
  text-decoration: underline;
}

/*Footer MOBILE (конец кода)*//*# sourceMappingURL=contacts.css.map */