$main-color: #000000
$footer-bg: rgba(136, 190, 204, 0.25)
$yellow: rgb(249, 179, 67)
$red: #E69596
$green: #5CB772
$blue: #00ABEC

//Голубые ссылки
@mixin  blue-link
    font:
        family: 'Montserrat', sans-serif
        weight: 500
        size: 16px
    color: $blue
    text:
        decoration: underline

//Заголовки секций
@mixin  section-title
    font:
        family: 'Montserrat', sans-serif
        weight: 500
        size: 36px
    text:
        decoration: none
    color: $main-color

//Тексты секций
@mixin  section-title
    font:
        family: 'Montserrat', sans-serif
        weight: 300
        size: 20px
    text:
        decoration: none
    color: $main-color

.main-slider
    display: flex
    justify-content: space-between
    align-items: flex-end
    gap: 20px
    margin-top: 40px
    @media screen and (width <= 1024px)
        flex-direction: column-reverse
        align-items: center

.slider-info
    display: flex
    flex-direction: column
    width: 40%
    @media screen and (width <= 1024px)
        width: 100%
        text-align: center

.slider-title
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    font-size: 50px
    color: $yellow
    text-decoration: none
    text-transform: uppercase

.slider-description, .slider-phone
    font-family: 'Montserrat', sans-serif
    font-weight: 300
    font-size: 24px
    color: $main-color
    text-decoration: none
    padding: 5px

.slider-link
    @include blue-link

.slider-photo1
    border-top-left-radius: 312px
    width: 100%
    height: 100%
    @media screen and (width <= 1024px)
        border-top-left-radius: 0
