$main-color: #000000
$footer-bg: rgba(136, 190, 204, 0.25)
$yellow: rgb(249, 179, 67)
$red: #E69596
$green: #5CB772
$blue: #00ABEC

//Голубые ссылки
@mixin  blue-link
    font:
        family: 'Montserrat', sans-serif
        weight: 500
        size: 16px
    color: $blue
    text:
        decoration: underline

//Заголовки секций
@mixin  section-title
    font:
        family: 'Montserrat', sans-serif
        weight: 500
        size: 36px
    text:
        decoration: none
    color: $main-color

//Тексты секций
@mixin  section-text
    font:
        family: 'Montserrat', sans-serif
        weight: 300
        size: 20px
    text:
        decoration: none
    color: $main-color

*
    box-sizing: border-box

body,
html
    margin: 0
    padding: 0
    height: 100%

.container
    max-width: 1170px
    margin-left: auto
    margin-right: auto
    padding: 0 30px

    @media screen and (576px <= width <= 1024px)
        padding: 0 30px
        margin: 0 auto

    @media screen and (width < 576px)
        padding: 0 15px
        margin: 0 auto

/*Шапка сайта Desktop начало*/
.header
    display: flex
    align-items: center
    margin-top: 30px
    height: 122px

    @media screen and (width <= 1024px)
        display: none

.header-logotype
    width: 45%

.logo-header
    max-width: 100%
    max-height: 100%

.header-nav
    display: flex
    justify-content: space-between
    width: 55%

.nav_items
    font-family: 'Montserrat', sans-serif
    font-weight: 300
    font-size: 24px
    color: $main-color
    text-decoration: none
    text-transform: uppercase

    &:hover
        color: #5CB772

.nav_items--active
    font-weight: 700
/*Шапка сайта Desktop конец*/

/*Шапка сайта Mobile начало*/
.header-mobile
    background-color: $footer-bg

    @media screen and (width > 1024px)
        display: none

.header-line-mobile
    padding-top: 40px
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 16px

.header-nav-mobile
    display: flex
    flex-direction: column
    align-items: center
    gap: 16px
    padding-bottom: 40px

.header-logotype-mobile
    @media screen and (width < 576px)
        width: 30%

.icon
    width: 100%
    height: 100%

.nav-mobile-active
    /*visibility: hidden
    display: none

.nav-mobile-active.open
    /*visibility: visible
    display: block

.burger-button
    position: relative
    width: 60px
    height: 60px
    border: none
    cursor: pointer
    background: none

.burger-button span
    bottom: 26px

    display: block
    position: absolute
    width: 50px
    height: 7px
    background-color: $red
    border-radius: 5px
    transition: transform .1s

.burger-button span:nth-child(1)
    transform: translateY(-15px)

.burger-button span:nth-child(2)

.burger-button span:nth-child(3)
    transform: translateY(15px)

//Крестик
.exit-icon-mobile.open .burger-button span:nth-child(1)
    transform: translateY(0) rotate(45deg)
    background-color: $yellow

.exit-icon-mobile.open .burger-button span:nth-child(2)
    opacity: 0

.exit-icon-mobile.open .burger-button span:nth-child(3)
    transform: translateY(0) rotate(-45deg)
    background-color: $yellow
//Крестик (конец)

.nav_items-mob
    font-family: 'Montserrat', sans-serif
    font-weight: 300
    font-size: 20px
    color: $main-color
    text-decoration: none
    text-transform: uppercase
    padding: 5px

    &:hover
        color: $yellow

.nav_items-mob--active
    font-weight: 700
/*Шапка сайта Mobile конец*/
