@import colors-fonts

.prices__info
    margin-top: 90px

    @media screen and (width <= 1024px)
        margin-top: 45px

.prices-title
    @include section-title
    margin-top: 0

    @media screen and (width <= 1024px)
        text-align: center
        font-size: 28px

.prices-text
    @include section-text
    text-align: justify
    margin: 0

    @media screen and (width <= 1024px)
        text-align: center
        font-size: 16px

.price-cards
    display: flex
    justify-content: space-around
    margin-top: 40px

    @media screen and (width < 1024px)
        flex-direction: column
        align-items: center
        gap: 22px

.price-card-top
    display: flex
    gap: 16px
    margin-bottom: 16px

    @media screen and (width < 375px)
        flex-direction: column
        align-items: center

.price-card-title
    @include section-text
    margin: 0

.gl
    border-bottom: 1px solid $blue
    width: 90%
    margin-bottom: 22px

.price
    color: $main-color
    text-align: center
    font-family: Montserrat
    font-size: 21px
    font-style: normal
    font-weight: 400
    line-height: normal
    margin: 0

.price-desc
    color: rgba(0, 0, 0, 0.60)
    text-align: center
    font-family: Montserrat
    font-size: 17px
    font-style: normal
    font-weight: 400
    line-height: normal
    margin: 0

.subscribe-btn
    background-color: $green
    border: none
    border-radius: 30px
    padding: 15px 28px

    color: #FFF
    text-align: center
    font-family: Montserrat
    font-size: 20px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    cursor: pointer

    &:hover
        background-color: $blue

.price-card-item
    display: flex
    flex-direction: column
    align-items: center

    border: 1px solid $blue
    border-radius: 30px
    width: 35%
    padding: 25px 36px 36px 36px

    @media screen and (width <= 1024px)
        width: 60%

    @media screen and (width < 576px)
        width: 100%

.second-price
    margin-bottom: 40px
    margin-top: 40px

/*Footer GENERALE (начало кода)*/
.wrapper
    background-color: $footer-bg
    margin-top: 90px

.wrapper-mbl
    @media screen and (width >= 1024px)
        display: none

.footer,
.footer__top,
.footer__logo,
.footer__content,
.footer-nav,
.footer__call,
.footer-icon-call,
.footer__bottom
    display: flex

.footer
    flex-direction: column
    height: 368px
    justify-content: space-between

.footer__top
    margin-top: 4%
    margin-bottom: 2%
    height: 75%
    justify-content: space-between

.footer__logo
    width: 17%

.logo__link
    max-width: 100%

.logo-footer
    width: 100%

.footer__content
    width: 79%
    justify-content: space-between

.footer__call
    flex-direction: column
    justify-content: space-between

.footer-nav
    flex-direction: column
    justify-content: space-between

.footer-nav__top-link
    font-family: Montserrat
    color: black
    font-size: 20px
    font-weight: 400
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    text-decoration: none

.footer-icon-call
    justify-content: right

.call-phone__top-link
    color: black
    font-family: Montserrat
    font-size: 24px
    font-weight: 400
    line-height: 29px
    letter-spacing: 0em
    text-align: left
    text-decoration: none

.back-call-p
    color: #00abec
    font-family: Montserrat
    font-size: 16px
    font-weight: 500
    line-height: 20px
    letter-spacing: 0em
    text-align: left
    text-decoration: underline
    margin: 0

.footer__bottom
    height: 20%
    justify-content: center
    font-family: Montserrat
    font-size: 20px
    font-weight: 300
    line-height: 24px
    letter-spacing: 0em
    text-align: center
/*Footer GENERALE (конец кода)*/

/*Footer MOBILE (начало кода)*/
.wrapper-mbl
    background-color: $footer-bg
    margin-top: 90px

.wrapper
    @media screen and (width < 1024px)
        display: none

.container-mbl
    @media screen and (576px <= width <= 1024px)
        padding: 0 30px
        margin: 0 auto
    @media screen and (width < 576px)
        padding: 0 15px
        margin: 0 auto

.footer-mbl,
.footer-logotype-mbl,
.footer-bottom-mbl,
/*.footer-nav-mbl,*/
.ftr-nav__top-item-mbl,
.footer__call-phone-mbl,
.back-call-mbl
    display: flex
    justify-content: center

.footer-mbl
    margin-top: 29px
    margin-bottom: 63px
    flex-direction: column
    height: 558px
    justify-content: space-between

.footer-bottom-mbl
    font-family: Montserrat
    font-size: 14px
    font-weight: 300
    line-height: 17px
    letter-spacing: 0em
    text-align: center

.ftr-btm-mdl
    margin: 0

.footer-nav-mbl
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 50%
    align-items: center

.ftr-nav__top-link-mbl
    font-family: Montserrat
    font-size: 20px
    font-weight: 400
    line-height: 24px
    letter-spacing: 0em
    text-align: center
    color: black
    text-decoration: none

.ftr__call-phone-mbl
    font-family: Montserrat
    font-size: 24px
    font-weight: 400
    line-height: 29px
    letter-spacing: 0em
    text-align: left
    color: black
    text-decoration: none

.back-call-mbl-p
    font-family: Montserrat
    font-size: 16px
    font-weight: 500
    line-height: 20px
    letter-spacing: 0em
    text-align: left
    color: #00abec
    text-decoration: underline
/*Footer MOBILE (конец кода)*/
